<div class="launch_header row">
    <div class="header_div_one ">
      <button type="button" style="margin-left: 20%; margin-right: 1%;" class="btn btn-circle shadow-none" (click)="userInfo()">SA</button>
      <img style="width: 18px; height: 18px; margin-left: 1%; cursor: pointer;" src="assets/user_down_arrow.png" (click)="userInfo()">
    </div>

    <div class="header_div_two" style="text-align: center">
      <img style="width: 35px; height: 35px;" src="assets/info_icon@2x.png">
    </div>

    <div class="header_div_three"></div>
  </div>

  <div class="row luncher-middle-block">

      <div class="builder-block">

          <mat-grid-list cols="2">
              <mat-grid-tile >   
                  <div class="builder" style="margin-top: -83px;">
                      <h3 style="font-weight: 400;">Builder</h3>
                      <p>Build a new or existing product.</p>
                      <p style="color: #1996c1;margin-top: 52px;">LAUNCH</p>
                  </div>
              </mat-grid-tile>

              <mat-grid-tile  style="margin-top: -83px;">
                  <img class="builder-img" src="assets/testing.png" width="" height="" />
              </mat-grid-tile>
          </mat-grid-list>
      </div>
    
      <div class="explorer-block">
        
          <mat-grid-list cols="2">
              <mat-grid-tile >   
                  <div class="builder" style="margin-top: -83px;">
                      <h3 style="font-weight: 400;">Explorer</h3>
                      <p>Review our complete product library.</p>
                      <p style="color: #1996c1;margin-top: 52px;">LAUNCH</p>
                  </div>
              </mat-grid-tile>

              <mat-grid-tile  style="margin-top: -83px;">
                  <img class="explorer-img" src="assets/testing.png" width="" height="" />
              </mat-grid-tile>
          </mat-grid-list>
</div>

