<div class="">

  <h6 style="font-size:16px; font-weight: bold;" mat-dialog-title>Exit?</h6>

  <div>
    <p style="font-size:14px; margin-top:-16px">Are you sure you want to exit? <br>All progress will be lost.</p>
  </div>

  <div mat-dialog-actions class="row col-xs-12" style="float: right; margin-right: 1.5%;">      
    <label style="font-size:14px;cursor: pointer; color: black" (click)=dialogCancel()>CANCEL</label>
    <label style="margin-left:15px; color:#328afb;cursor: pointer; font-size: 15px;" (click)=dialogExit()>EXIT</label>
  </div>
</div>