.selectChambersName{

    color: #4599C3;;
    font-size: 12px;

} 


.mat-form-field {

    margin-bottom: -20px;

}
.mat_chip{

    background-color: #aec67d;
    /* padding: 5px; */
    /* padding: 58px; */
    font-size: 11px;
    border-radius: 16px;
    min-height: 28px;

}
.inCompatableChamberNames{


    background-color: rgb(226, 226, 226);
    float: left;
    padding: 5px;
    font-size: 11px;
    position: relative;
    margin-right: 5px;
    margin-bottom: 6px;
    border-radius: 16px;
    color: black;
    cursor: pointer;

}

.chamberNames{

background-color: #abd6e4 ;
float: left;
padding: 5px;
font-size: 11px;
position: relative;
margin-right: 5px;
margin-bottom: 6px;
border-radius: 16px;
color: black;
cursor: pointer;


}

.chamberContainer{

    display: contents;

}

.matContainer{

    display: table;
    width: 100%;

}

.chip-list {
    width: 100%;
  }

.label{

font-size: 14px;

}

.card{

    padding: 20px;

}

.btn{
  
    /* background-color: #4e90ac;
    width: 14%;
    margin-top: 2%;
    margin-right: 15px; */
  }

  .toggle{

    margin-top: 2%;
    margin-bottom: 2%;

  }

  .isRnDChambersTopMarginLow{

    margin-top: 10px;
  }

  .isRnDChambersTopMarginHigh{

    margin-top: -23px;

  }

  .incompatableChambers{

    
    /* padding-left:  8px; */
    /* padding-top: 30px; */
    font-size: 12px;

  }
  .matchingChambersLabel{

    font-size: 12px;

  }


.matActions{

widows: 100%;

}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgb(161, 161, 161);
}
.card>hr {
    margin-right: -20px;
    margin-left: -20px;
}
.matContainerproductsList{

    background-color: rgb(183, 119, 201);

}

.errorLabel{

    /* position: absolute;
    display: contents; */
    position: absolute;
    display: table-caption;
    margin-bottom: 0px;
    margin-left: 0px;
    /* margin-top: -45px; */
    font-size: 12px;
    color: rgb(185, 43, 43);
}

.matIcon{

    color: rgb(185, 43, 43);

}
.comapatableChambersList{

margin-top: 20px;

}

.mat-input-element {
    caret-color: #000000;
}

.text-right{
    display: block;
    margin-bottom: 0px;
  }

  .errorLabelClose{

    float: right;

  }


  .red {
    color: red; 
}

.blue {
    color: #4599C3;
}

.mat-form-field-underline {
    background-color: rgb(233, 14, 149);
}


.submitButtonEnableColor{

    color: #2e849e;
    background-color:#d3e5ec;

}

.submitButtonDisabledColor{
    background-color: #dadada;
    color: #000000;
    }
    .mat-form-field-custom {

        margin-top: -12px;
 
    }

  .mat-card-content>:last-child:not(.mat-card-footer), .mat-card>:last-child:not(.mat-card-footer) {
    margin-bottom: 0;
    display: -webkit-box;
}