.container-fluid {

    background-color: #4599C3;
    position: relative;
    width: 100%;
    height: 100px;
}

.page-header {
    
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%; 
    z-index: 0;
    height: 200px;
    background-color: #4599C3;
    font-size: 20px;
}
.row {

    color: white;
    margin-top: 20px;
}
.g3ProductIDTool {

    margin-left: 15px;
    font-size: 15px;
}

.logoImage {

    display: flow-root;
}