<div class="container-fluid">
    <div class="page-header">
        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-md-6 logoImage">
                    <img src="assets/Logo_AppliedMaterials.png" width="90px" height="25px" />
                    <span class="g3ProductIDTool">G3 Product ID Tool</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <mat-card class="card"  style="padding:16px">
        <div style="text-align:center">
            <h3> G3 Mapper - Not Authorized </h3>
            <p> Sorry, you don't have permission to access this application. Please connect with Applied Materials Admin team to get access.</p>
        </div>
    </mat-card>
    </div>
</div>