
gitttng gggggggggg
<div>git welcome</div>
<router-outlet></router-outlet> 

 <main class="main">
  <div class="container-fluid">
      <div class="row animated fadeIn">
          <div class="col-md-6 mx-auto"  style="margin-top:40px">
              <div class="card formbg">
                  <div class="card-header">
                      <strong> {{title}} </strong>
                    </div>
                  <div class="card-body">

<div class="example-container">

    <label for="postal-code">Select ID</label>
    <select class="form-control bgcolor textcolor"  #productType="ngModel" (ngModelChange)="onProfileChange($event)" [(ngModel)]="id"
      required>
      <option [value]="undefined" selected [disabled]="true">--Select Id--</option>
      <option *ngFor="let type of idArray" [ngValue]="type">
        {{type.id}}</option>
    </select> <br>

    <select [hidden]="ishidden" class="form-control bgcolor textcolor" name="id" #productType="ngModel" [(ngModel)]="one"
    required>
   <option [value]="undefined" selected [disabled]="true">--Select Id--</option>
    <option *ngFor="let value of sizeNames" [value]="value.ProductSizeName">
        {{value.ProductSizeName}}</option>
  </select><br>

  <select [hidden]="ishidden" class="form-control bgcolor textcolor" name="id" #productType="ngModel" [(ngModel)]="two"
  required>
 <option [value]="undefined" selected [disabled]="true">--Select Id--</option>
  <option *ngFor="let value of sizeNames" [value]="value.ProductSizeName">
      {{value.ProductSizeName}}</option>
</select><br>

<select [hidden]="ishidden" class="form-control bgcolor textcolor" name="id" #productType="ngModel" [(ngModel)]="three"
required>
<option [value]="undefined" selected [disabled]="true">--Select Id--</option>
<option *ngFor="let value of sizeNames" [value]="value.ProductSizeName">
    {{value.ProductSizeName}}</option>
</select><br>


  <mat-form-field [hidden]="ishidden">
 
      <input matInput type="text" placeholder="Enter company name">
  </mat-form-field>



  <!-- <mat-form-field >
    <mat-select  placeholder="Select">
      <mat-option *ngFor="let value of sizeNames" [value]="value.ProductSizeName" >{{value.ProductSizeName}}</mat-option>
    </mat-select>
  </mat-form-field> -->

</div><br>

<button mat-raised-button color="primary"  (click)="submit()">Submit</button>

</div>
</div>
</div>
</div>
</div>

</main> 


