/* label {

  display: block;
  color: black;
  font-size: 12px;
} */

.inputOPIDLabel {

  font-size: 14px;
}

.selectPlatformLabel {

  font-size: 14px;
}

.opId {

  margin-top: 10px;
  font-size: 20px;
}

.selectPlatform {

  margin-top: 15px;
}

inner {

  margin-right:20px;
  margin-left:20px;
}

.btn {
  
  /* background-color: #4e90ac; */
  margin-right: 25px;
  /* margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 15px; */
}

.info {

  color: rgba(134, 128, 128, 0.87);
  float: right;
  margin-right: -35px;
  padding-top: 4px;
}

.info_icon {

  margin-right: 15px;
}

.matActions {

  widows: 100%;
}
  
hr {

  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(161, 161, 161);
}

.card>hr {

  margin-right: -16px;
  margin-left: -16px;
}

.text-right {

  display: block;
  margin-bottom: 0px;
}

.opIDField:focus-within .inputOPIDLabel {

  color: #4599C3;
}

.platformField:focus-within .selectPlatformLabel {

  color: #4599C3;
}

.mat-card-actions {

  margin-bottom: 8px !important;
  margin-top: 0px !important;
}

body .ui-tooltip .ui-tooltip-text {

  background-color: #ffffff;
  color: #000000;
  padding: 0.429em;
  width: 205px;
  height: 72px;
  margin-top: 2px;
  margin-left: 4px;
  width: 248px;
  box-shadow: 0 0 17px 0 rgb(58, 60, 63);
} 

body .ui-tooltip.ui-tooltip-right .ui-tooltip-arrow {
  
  border-right-color: #ffffff;
  margin-top: -7px;
  font-size: xx-large;
  padding: -82px;
} 

@media screen and (max-width: 550px) {

}