<!-- <app-home></app-home> -->
<!-- <div [ngClass] = "'parent-container'">
    <router-outlet>  </router-outlet>
  </div>  -->
  <!-- <div class="parent">
     
      <img src="/assets/bg.jpg" class="center">

      <div class="one"> hai </div>
      <div class="two">  hai </
  
      </div> -->


      <div class="container">
          <img src="/assets/bg.jpg" alt="Norway" >
          <div > 
            <h4  class="text-blocko">one</h4>

          </div>

            <div > 
                <h4 class="text-blockth">three</h4>
               
              </div>

              <div > 
                  <h4 class="text-blocktwo">two</h4>
                 
                </div>

              <div > 
                  <h4 class="text-blockf">four</h4>
                </div>

                <!-- <div > 
                  
                  <h4 class="centered">left center</h4>
                
                
                </div> -->

        </div>