

  
      <router-outlet>  </router-outlet> 
<!-- <div style="background-color:black" class="centered">
  <img class="centuraImg" src="/assets/bg.jpg">

  <div>
    <a class="positionOne" style="width:4%;"> <img src="/assets/black_dot.png" style="border-radius: 50%;"></a>
  </div>
  <div>
    <a class="positionTwo" style="width:4%;"> <img src="/assets/black_dot.png" style="border-radius: 50%;"></a>
  </div>
  <div>
    <a class="positionThree" style="width:4%;"> <img src="/assets/black_dot.png" style="border-radius: 50%;"></a>
  </div>
  <div>
    <a class="positionFour" style="width:4%;"> <img src="/assets/black_dot.png" style="border-radius: 50%;"></a>
  </div>
</div> -->
