/* .parent{

    background-color: aquamarine;
    /* background-image: url('/assets/bg.jpg'); */


.one{

position: relative;

}

.two{

position: absolute;

}

/* img {

max-width:100%;
max-height:100%
    object-fit: cover;
} */
.text-blockt{

width: 100px;
height: 100px;

}

.container {
    position: relative;
}

img{

width: 100%;
height: 100%;

}

.text-blocko{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(13, 188, 194);
    color: rgb(17, 5, 5);

}

.centered {

    color: aliceblue;
    background-color: rgb(0, 166, 196);
    position: absolute;
    top: 50%; 
    bottom: 50%; 
    left: 16px;
    /* // transform: translate(-50%, -50%); */
}


.text-blocktwo{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgb(22, 112, 4);
    color: white;

}


.text-blockth{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(22, 112, 4);
    color: white;

}

.text-blockf{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgb(44, 26, 211);
    color: white;

}