
.container-fluid{

  background-color: #4599C3;
  position: relative;
  width: 100%;
  height: -webkit-fill-available;
}

.btn{

  /* background-color: #4e90ac; */
  width: 20%;
}

.page-header{

  position: absolute;
  top: 0px;
  left: 0;
  width: 100%; 
  z-index: 0;
  height: 200px;
  background-color: #4599C3;
  font-size: 20px;
}

.row{

  color: white;
  margin-top: 20px;
}

.menuButton {

  text-align: right;
  float: right;
  margin-right: -10px;
}

.dummyheader {
  
  padding: 20
}
.g3ProductIDTool{

  margin-left: 15px;
  font-size: 15px;

}

.logoImage{

  display: flow-root;

}

label{

  display: block;
  color: black;
  font-size: 12px;

}
.opId{

  margin-top: 10px;
  font-size: 20px;
}

.selectPlatform{

  margin-top: 15px;
}

inner{

  margin-right:20px;
  margin-left:20px;
}

.btn{
  
  /* background-color: #4e90ac; */
  margin-right: 25px;

  /* margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 15px; */
}
.info{

  color: rgba(134, 128, 128, 0.87);
  float: right;
  margin-right: -35px;
  padding-top: 4px;

}

.matActions{

  widows: 100%;
  
  }
  
  hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgb(161, 161, 161);
  }
  .card>hr {
    margin-right: -16px;
    margin-left: -16px;
  }


.text-right{

  display: block;
  margin-bottom: 0px;

}
 
 /* .abcd:focus-within .label1 {
  color: #4599C3;
}

.cdab:focus-within .label2 {
  color: #4599C3;
} */
.eml{
  margin-top: 20px;
  margin-left: 3%;
}
.psw{
  margin-top: 40px;
  margin-left: 3%;
}
.loginerrorsms{
  display: block;
  color: red;
  font-size: 18px;
  float: left;
  margin-left: 7%;
}
 .submitButtonEnableColor{
  background-color: #d3e5ec;
  color: #2e849e;
 }
.submitButtonDisabledColor{
  background-color: #EAEAEA;
  color: #A8A8A8;
}

.label1{
  font-size: 22px;
  /* color :black; */
}
.label11{
  color:red;
}
.label2{
  font-size: 22px;
  /* color :black; */
}
.label22{
  color: red;
}
input.mat-input-element{
  font-size: 25px;
}


.abcd:focus-within  mat-label {
  color: #4599C3;
}

.cdab:focus-within  mat-label {
  color: #4599C3;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: red;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #4599C3;
}

/* .mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
  color:red;
} */
/* .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent .{
  background-color: #f44336;
} */
/* .mat-form-field.mat-form-field-invalid .mat-form-field-underline {
  color: #f44336;
} */
 /* .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent.mat-form-field-underline {
  background-color: red;
} */

/* mat-form-field-underline */
/* .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: red;
} */

/* .mat-form-field-underline  {
  background-color: red !important;
} */
.form-unsubmitted .mat-form-field-underline {
  /* background-color: red !important; */
  border: 1.5px solid #D22630;
}

@media screen and (max-width: 550px) {

}