<div class="container-fluid">
    <div class="page-header">
        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-md-6 logoImage">

                    <img src="/assets/Logo_AppliedMaterials.png" width="90px" height="25px" />
                    <span class="g3ProductIDTool">G3 Product ID Tool</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <mat-card class="card">
            <div class="inner"> 
                <mat-form-field class="userName example-full-width col-md-5" [ngClass]="{'form-unsubmitted': submitted}">
                    <mat-label [ngClass]="{
                        'userNameLabelOne': !labelError,
                        'userNameLabelTwo': labelError
                      }">Username/Email</mat-label>
                    <input matInput (keyup)="onKeyUp($event)" (focus)="onFocus()" [(ngModel)]="userName" name="email">
                </mat-form-field>

                <br>

                <mat-form-field class="password psw example-full-width col-md-5" [ngClass]="{'form-unsubmitted': submitted}">
                    <mat-label [ngClass]="{
                        'userNameLabelOne': !labelError,
                        'userNameLabelTwo': labelError
                      }">Password</mat-label>
                    <input matInput type="password" (keyup)="onKeyUp($event)" (focus)="onFocus()" [(ngModel)]="password" name="password">
                </mat-form-field>
                <br>
            </div>
            <br><br>
            <br><br>

            <hr>
            <div class="row matActions">
                <mat-card-actions class="text-right col-md-12">
                    <div *ngIf="showLoginErrorMessage" >
                        <label class="loginerrorsms">Your login information is incorrect. Please try again.</label>
                    </div>

                    <div >
                        <button type="button" [disabled]="disableLoginButton"
                        [ngClass]="{'submitButtonEnableColor' : !disableLoginButton == true, 'submitButtonDisabledColor' : !disableLoginButton == false }"
                        class="btn custom-button-width col-sm-2" (click)="login()">LOGIN</button>
                    </div>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>
</div>