<router-outlet></router-outlet>

<div class="container">
  <mat-card class="card"  style="padding:16px">
    <div class="matContainer">
      <mat-form-field class="chip-list  mat-form-field-custom " [ngClass]="{'formFiledUnderLineColor': !formFiledUnderLine}">

        <div *ngIf="showSelectChamberTitle; else enable">
          <label class="selectChambersName">Select Chambers</label>
        </div>

        <ng-template #enable>
          <label class="selectChambersName" style="color:#D22630;;">Select Chambers</label>
        </ng-template>

        <mat-chip-list #chipList>
          <mat-chip class="mat_chip" *ngFor="let chamber of selectedChambersList" [selectable]="chamberSelectable"
            [removable]="removable" (removed)="chambersRemove(chamber)" (click)="updateChambersByID(chamber)">
            {{chamber.name}}
            <!-- <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon> -->
            <div class="chamberQtyCircle">{{chamber.qty}}</div>
          </mat-chip>

          <input #chamberInput [formControl]="chamberFormControl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [(ngModel)]="term" (keyup)="onKeyPress($event)" (focus)="onSearchChamberfocus()" (focusout)="outSearchChamberfocus()">
          <span class="errorLabelClose" [hidden]="!showSelectedChambersClearButton" (click)="clearAllSelectedChambers()">
            <mat-icon [ngClass]="{'red' : isCrossLabelCondition == true, 'blue' : isCrossLabelCondition == false }"
              class="matIcon">close</mat-icon>
          </span>
        </mat-chip-list>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="chamberOptionSelected($event)">
          <mat-option *ngFor="let chamber of dropDownChambersList;let i = index" [value]="chamber">
            {{chamber.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <label [hidden]="showErrorLabelCondition" class="errorLabel">You've exceeded the maximum number of chambers by {{extraSelectedChamberCount}}</label>

      <div class="matContainer comapatableChambersList">

        <p class="chamberNames" [hidden]="!showChambersList" *ngFor="let chambers of chambersList; let i = index"
          [class.active]="selectedIndex === i" (click)="filterChambersByID(chambers)">
          <a style="padding:5px">{{ chambers.name }}</a>
        </p>

        <p class="matchingChambersLabel" [hidden]="!showCompatibilityChambersTitle">Known Matching Chambers</p>

        <p class="chamberNames" [hidden]="!showCompatibilityChambersList" *ngFor="let chambers of compatibilityChambersList; let i = index"
          [class.active]="selectedIndex === i" (click)="filterChambersByID(chambers)">
          <a style="padding:5px">{{ chambers.name }}</a>
        </p>
      </div>
    </div>

    <div class="matContainer">

      <div [ngClass]="{'isRnDChambersTopMarginHigh' : isRnDChambersEnabled == true, 'isRnDChambersTopMarginLow' : isRnDChambersEnabled == false }">
        <p class="incompatableChambers" [hidden]="!showRnDChamberTitle">R&D Only Chambers</p>

        <p class="inCompatableChamberNames" [hidden]="!showRnDChamberList" *ngFor="let chambers of rndOnlyChambersList; let i = index"
          [class.active]="selectedIndex === i" (click)="filterRnDChambersByID(chambers)">
          <a style="padding:5px">{{ chambers.name }}</a>
        </p>
      </div>
    </div>

    <div class="matContainerproductsList matContainer">
      <p class="chamberNames" *ngFor="let chambers of finalProductsList">
        <a style="padding:5px">{{ chambers.name }}</a>
      </p>
    </div>

    <hr>
    <div class="row matActions">
      <mat-card-actions class="text-right col-md-12 mat-card-actions">

        <button class="btn  col-sm-2" style="margin-right: 25px;" type="button" (click)="backButton()">BACK</button>
        <button class="btn custom-button-width col-sm-2" style="margin-right: 25px;" [disabled]="!isButtonLabelCondition"
          [ngClass]="{'submitButtonEnableColor' : isButtonLabelCondition == true, 'submitButtonDisabledColor' : isButtonLabelCondition == false }"
          type="button" (click)="submitButton()">SUBMIT</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>