<div class="">

    <h6 style="font-size:16px; font-weight: bold;" mat-dialog-title>Enable R&D Options?</h6>

    <div>
      <p style="font-size:14px; margin-top:-16px">Enabling R&D options allows any combination of chambers to be selected. This should only be enabled when a custom build is the only possible way to satisfy customer demands.</p>
    </div>

    <div mat-dialog-actions class="row col-xs-12" style="float: right; margin-right: 1.5%;">      
      <label style="font-size:15px;cursor: pointer; color: black" (click)=rndCancel()>CANCEL</label>
      <label style="margin-left:15px; color:#328afb;cursor: pointer; font-size: 15px;" (click)=rndEnable()>ENABLE</label>
    </div>
  </div>