<div class="container">

  <mat-card class="card matCardTopMargin"  style="padding:16px">
    <mat-tab-group class="mainBlock" (selectedTabChange)="getSelectedTab($event)">
      <mat-tab *ngFor="let product of finalProductsList; let i = index" [label]="product.product_code">
        
        <div class="row col-xs-12 ">
          <div class="col-md-8 leftBlock">
            <mat-icon id="object" class="SVGIconCSS" svgIcon="productImageIcon">
              <object data="imageURL" type="image/svg+xml" hidden></object>
            </mat-icon>
          </div>

          <div class="col-md-4  rightBlock">
            <div class="row col-xs-12">
              <div class="col-md-6">
                <h6 style="font-size: 14px;color: #000000;">{{product.platform_name}}</h6> 
                <h6 style="font-size: 12px;color: #999999;">Platform</h6>
              </div>

              <div class="col-md-6">
                <h6 style="font-size: 14px;color: #000000;">{{selectedOPID}}</h6> 
                <h6 style="font-size: 12px;color: #999999;">OP ID</h6>
              </div>
            </div>

            <div class="row col-xs-12 productIDTopMargin">
              <div class="col-md-6 ">
                <h6 style="font-size: 22px;color: #000000; font-weight: bold;">{{product.product_code}}</h6> 
                <h6 style="font-size: 12px;color: #999999;">Product ID</h6>
              </div>

              <div class="col-md-6">
                <h6 style="font-size: 14px;color: #000000;">{{product.product_name}}</h6> 
                <h6 style="font-size: 12px;color: #999999;">G3 Name</h6>
              </div>
            </div>

            <br>

            <mat-divider></mat-divider>

            <div style="position: relative" height="70%">
              <div>
                <mat-nav-list class="matNavListPadding">
                  <mat-list-item class="matListItem" *ngFor="let configuration of configurationArray; let i=index" (mouseover)="productItemMouseOver(configuration, true)" (mouseleave)="productItemMouseOver(configuration, false)">

                    <div class="indexPosition">
                      {{configuration.facet_name}}
                    </div>

                    <div style="margin-right: 100px; color: #65A7C4;">
                      {{configuration.chamber_name}}
                    </div>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-nav-list>
              </div>

              <!-- <div>
                <mat-list *ngFor="let products of dummyConfigurationArray">
                  <mat-list-item class="matListItem"></mat-list-item>
                </mat-list>
              </div> -->
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <br>

    <hr class="borderLine">

    <div class="row matActions">
      <mat-card-actions class="text-right col-md-12 mat-card-actions">
        <button class="btn  col-sm-2" style="margin-right: 25px;background: #EAEAEA; border-radius: 3px;" type="button" (click)="backButton()">BACK</button>
        <button class="btn  col-sm-2" style="margin-right: 25px;background: rgba(69,153,195,0.20); border-radius: 3px;color: #4599C3"(click)="submitButton()" type="button">DONE</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>