.rightBlock {

    margin-top: 20px;
}

.leftBlock {

    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.SVGIconCSS {

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}

.matListItem {

    margin-left: -16px;
    font-size: 14px;
    color:#65A7C4;
}

.borderLine {

    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(161, 161, 161);
}

.card>hr {

    margin-right: 0px;
    margin-left: 0px;
}

.productIDTopMargin {

    margin-top: 10px;
}

.indexPosition {

    margin-right: 15px;
    font-family: Roboto-Medium;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    font-weight: bold;
}

.matCardTopMargin {

    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.mat-list .mat-list-item .mat-list-item-content, .mat-list .mat-list-option .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-option .mat-list-item-content, .mat-selection-list .mat-list-item .mat-list-item-content, .mat-selection-list .mat-list-option .mat-list-item-content {
    
    width: 100%;
}